<a href="https://colab.research.google.com/github/Parkshinhyang/Programmers/blob/main/%EC%86%8C%EC%88%98_%EB%A7%8C%EB%93%A4%EA%B8%B0(Lv_1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 문제 - 소수 만들기
https://school.programmers.co.kr/learn/courses/30/lessons/12977

## 문제 설명

주어진 숫자 중 3개의 수를 더했을 때 소수가 되는 경우의 개수를 구하려고 합니다. 숫자들이 들어있는 배열 nums가 매개변수로 주어질 때, nums에 있는 숫자들 중 서로 다른 3개를 골라 더했을 때 소수가 되는 경우의 개수를 return 하도록 solution 함수를 완성해주세요.

## 제한사항

- nums에 들어있는 숫자의 개수는 3개 이상 50개 이하입니다.
- nums의 각 원소는 1 이상 1,000 이하의 자연수이며, 중복된 숫자가 들어있지 않습니다.

## 입출력 예

![image.png]()

## 입출력 예 설명

### 입출력 예 #1

[1,2,4]를 이용해서 7을 만들 수 있습니다.

### 입출력 예 #2

[1,2,4]를 이용해서 7을 만들 수 있습니다.
[1,4,6]을 이용해서 11을 만들 수 있습니다.
[2,4,7]을 이용해서 13을 만들 수 있습니다.
[4,6,7]을 이용해서 17을 만들 수 있습니다.

## 첫 번째 방법

1. combinations를 이용해 입력받은 nums를 3개씩 묶어 list화하여 arr1에 저장.
2. arr1에 3개씩 묶은 원소의 합을 num에 저장.
3. num의 원소를 순차적으로 탐색해 2부터 i까지의 숫자 j를 i로 나누어 나머지가 0이면 flag를 False로 변환.
4. for문을 다 탐색하고도 flag가 True면 소수라는 의미이므로 answer을 카운트 후 return.

결과 : 성공

In [32]:
from itertools import combinations

def solution(nums):
    arr1 = list(combinations(nums, 3))
    num = []
    answer = 0

    for i in range(len(arr1)):
        num.append(sum(arr1[i]))
    
    for i in num:
        flag = True
        for j in range(2, i):
            if i % j == 0 :
                flag = False
        if flag == True:
            answer += 1
    return answer

solution([1,2,7,6,4])

4