<a href="https://colab.research.google.com/github/Parkshinhyang/Programmers/blob/main/%EC%98%AC%EB%B0%94%EB%A5%B8_%EA%B4%84%ED%98%B8(Lv_2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 문제 - 올바른 괄호
https://school.programmers.co.kr/learn/courses/30/lessons/12909

## 문제 설명

괄호가 바르게 짝지어졌다는 것은 '(' 문자로 열렸으면 반드시 짝지어서 ')' 문자로 닫혀야 한다는 뜻입니다. 예를 들어

- "()()" 또는 "(())()" 는 올바른 괄호입니다.
- ")()(" 또는 "(()(" 는 올바르지 않은 괄호입니다.

'(' 또는 ')' 로만 이루어진 문자열 s가 주어졌을 때, 문자열 s가 올바른 괄호이면 true를 return 하고, 올바르지 않은 괄호이면 false를 return 하는 solution 함수를 완성해 주세요.

## 제한사항

- 문자열 s의 길이 : 100,000 이하의 자연수
- 문자열 s는 '(' 또는 ')' 로만 이루어져 있습니다.

## 입출력 예

![image.png]()

## 입출력 예 설명

### 입출력 예 #1,2,3,4
문제의 예시와 같습니다.

## 첫 번째 방법
1. 입력받은 s가 '('로 시작하지 않으면 False를 return.
2. 입력받은 s의 맨 끝 문자가 ')'가 아니면 False를 return.
3. 입력받은 s를 문자 하나하나 탐색해 '('가 있을 때 cnt에 1을 더해주고, ')'가 있을 때 cnt에서 1을 뺌
4. cnt가 0이면 True를 cnt가 0이 아니면 False를 return.

결과 : 실패

-> "())(()"와 같은 문자열이 입력돼도 True를 return하는 경우가 발생.

In [ ]:
def solution(s):
    cnt = 0

    if s[0] != '(':
        return False
    elif s[-1] != ')':
        return False
    else:
        for i in s:
            if i == '(':    
                cnt += 1
            else:
                cnt -= 1
        if cnt == 0:
            return True
        else:
            return False

solution("(()(")

False

## 두 번째 방법

1. cnt라는 변수에 카운트하는 방법은 첫 번째 방법과 유사하나 문자열의 처음과 끝의 문자가 각각'(', ')'이 와야지만 True를 반환할 수 있는 것이 아니라 각 조건마다 cnt > 0이라는 제약을 둠으로써 위 코드을 없앰.

결과 : 성공

In [13]:
def solution(s):
    cnt = 0
    for c in s:
        if c == "(":
            cnt += 1
        else:
            if cnt > 0:
                cnt -= 1
            else:
                return False
    if cnt > 0:
        return False
    return True

solution("())(()")

False