<a href="https://colab.research.google.com/github/Parkshinhyang/Programmers/blob/main/%EC%A0%90_%EC%B0%8D%EA%B8%B0(Lv_2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 문제 - 점 찍기
https://school.programmers.co.kr/learn/courses/30/lessons/140107

## 문제 설명

좌표평면을 좋아하는 진수는 x축과 y축이 직교하는 2차원 좌표평면에 점을 찍으면서 놀고 있습니다. 진수는 두 양의 정수 k, d가 주어질 때 다음과 같이 점을 찍으려 합니다.

- 원점(0, 0)으로부터 x축 방향으로 a*k(a = 0, 1, 2, 3 ...), y축 방향으로 b*k(b = 0, 1, 2, 3 ...)만큼 떨어진 위치에 점을 찍습니다.
- 원점과 거리가 d를 넘는 위치에는 점을 찍지 않습니다.

예를 들어, k가 2, d가 4인 경우에는 (0, 0), (0, 2), (0, 4), (2, 0), (2, 2), (4, 0) 위치에 점을 찍어 총 6개의 점을 찍습니다.

정수 k와 원점과의 거리를 나타내는 정수 d가 주어졌을 때, 점이 총 몇 개 찍히는지 return 하는 solution 함수를 완성하세요.

## 제한사항

- 1 ≤ k ≤ 1,000,000
- 1 ≤ d ≤ 1,000,000

## 입출력 예

![image.png]()

## 입출력 예 설명 

### 입출력 예 #1

본문의 예시와 같습니다.

### 입출력 예 #2

(0, 0), (0, 1), (0, 2), (0, 3), (0, 4), (0, 5), (1, 0), (1, 1), (1, 2), (1, 3), (1, 4), (2, 0), (2, 1), (2, 2), (2, 3), (2, 4), (3, 0), (3, 1), (3, 2), (3, 3), (3, 4), (4, 0), (4, 1), (4, 2), (4, 3), (5, 0) 위치에 점을 찍을 수 있으며, 총 26개 입니다.

## 첫 번째 방법

1. 이중 for문을 사용해 i의 제곱  + j의 제곱이 d의 제곱보다 작거나 같을 경우 answer을 count.

결과 : 실패
-> 시간 초과.

반복문을 이중으로 사용하니 시간복잡도가 O(N^2)로 비효율적.
반복문 사용을 하나로 줄일 필요가 있음.

In [9]:
def solution(k, d):
    answer = 0
    for i in range(0, d + 1, k):
        for j in range(0, d + 1, k):
            if (i ** 2) + (j ** 2) <= d ** 2: 
                answer += 1
    return answer
solution(1, 5)

26

## 두 번째 방법

1. 반복문을 하나만 사용해 입력받은 d의 제곱 - i의 제곱을 루트한 값을 반올림하여 num에 저장.
2. num // k에 + 1한 값을 answer에 더한 후 answer을 return.

결과 : 성공

In [12]:
import math

def solution(k, d):
    answer = 0
    for i in range(0, d + 1, k):
        num = math.floor(math.sqrt(d ** 2 - i ** 2))
        answer += (num // k) + 1
    return answer
solution(1, 5)

26