<a href="https://colab.research.google.com/github/Parkshinhyang/Programmers/blob/main/%EC%A0%95%EC%88%98_%EB%82%B4%EB%A6%BC%EC%B0%A8%EC%88%9C%EC%9C%BC%EB%A1%9C_%EB%B0%B0%EC%B9%98%ED%95%98%EA%B8%B0(Lv_1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 문제 - 정수 내림차순으로 배치하기
https://school.programmers.co.kr/learn/courses/30/lessons/12933

## 문제 설명

함수 solution은 정수 n을 매개변수로 입력받습니다. n의 각 자릿수를 큰것부터 작은 순으로 정렬한 새로운 정수를 리턴해주세요. 예를들어 n이 118372면 873211을 리턴하면 됩니다.

## 제한 조건

- n은 1이상 8000000000 이하인 자연수입니다.

## 입출력 예 

![image.png]()

## 첫 번째 방법

1. 입력받은 n을 문자열로 변환시켜 list함수를 사용해 하나하나 분리.
2. 분리한 문자를 내림차순으로 정렬.
3. join함수를 사용해 문자를 하나의 문자열로 묶고 int형으로 retrun.

결과 : 성공

In [10]:
def solution(n):
    return int("".join(sorted(list(str(n)), reverse = True)))

solution(118372)

873211