<a href="https://colab.research.google.com/github/Parkshinhyang/Programmers/blob/main/%EC%A4%84_%EC%84%9C%EB%8A%94_%EB%B0%A9%EB%B2%95(Lv_2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 문제 - 줄 서는 방법
https://school.programmers.co.kr/learn/courses/30/lessons/12936

## 문제 설명

n명의 사람이 일렬로 줄을 서고 있습니다. n명의 사람들에게는 각각 1번부터 n번까지 번호가 매겨져 있습니다. n명이 사람을 줄을 서는 방법은 여러가지 방법이 있습니다. 예를 들어서 3명의 사람이 있다면 다음과 같이 6개의 방법이 있습니다.

- [1, 2, 3]
- [1, 3, 2]
- [2, 1, 3]
- [2, 3, 1]
- [3, 1, 2]
- [3, 2, 1]
사람의 수 n과, 자연수 k가 주어질 때, 사람을 나열 하는 방법을 사전 순으로 나열 했을 때, k번째 방법을 return하는 solution 함수를 완성해주세요.

## 제한사항

- n은 20이하의 자연수 입니다.
- k는 n! 이하의 자연수 입니다.

## 입출력 예

![image.png]()

## 입출력 예시 설명

### 입출력 예 #1

문제의 예시와 같습니다.

## 첫 번째 방법
1. 1부터 n까지 원소로 있는 리스트로 n가지로 구성된 순열 집합을 만든 후 k - 1번째 묶음을 return.

결과 : 실패

-> 시간 초과

In [ ]:
from itertools import permutations

def solution(n, k):
    return list(permutations([i for i in range(1, n + 1)], n))[k - 1]
solution(3, 5)

(3, 1, 2)

## 두 번째 방법

1. 1부터 입력받은 n까지 수를 num에 저장.
2. n 이 0이 아닐 때까지 반복하는 while문으로 f_num에 (n - 1)!을 저장.
3. 첫 번째 수는 k // f_num 인 걸 확인하여 answer에 append.
4. 위 과정을 반복하는데 이떄 n은 n - 1, k = k % (n - 1)!.

결과 : 성공

In [27]:
import math

def solution(n, k):
    answer = []
    num = [i for i in range(1, n + 1)]

    while n != 0:
        f_num = math.factorial(n - 1)
        idx = k // f_num
        k = k % f_num
        
        if k == 0:
            answer.append(num.pop(idx - 1))
        else:
            answer.append(num.pop(idx))
        n -= 1
    return answer

solution(3, 5)

[3, 1, 2]