<a href="https://colab.research.google.com/github/Parkshinhyang/Programmers/blob/main/%EC%B5%9C%EB%8C%80%EA%B3%B5%EC%95%BD%EC%88%98%EC%99%80_%EC%B5%9C%EC%86%8C%EA%B3%B5%EB%B0%B0%EC%88%98(Lv_1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

문제 - 최대공약수와 최소공배수

[문제 링크](https://school.programmers.co.kr/learn/courses/30/lessons/12940)

## 문제 설명

두 수를 입력받아 두 수의 최대공약수와 최소공배수를 반환하는 함수, solution을 완성해 보세요. 배열의 맨 앞에 최대공약수, 그다음 최소공배수를 넣어 반환하면 됩니다. 예를 들어 두 수 3, 12의 최대공약수는 3, 최소공배수는 12이므로 solution(3, 12)는 [3, 12]를 반환해야 합니다.

## 제한사항

- 두 수는 1이상 1000000이하의 자연수입니다.

## 입출력 예

![image.png]()

## 입출력 예 설명

### 입출력 예 #1

위의 설명과 같습니다.

### 입출력 예 #2

자연수 2와 5의 최대공약수는 1, 최소공배수는 10이므로 [1, 10]을 리턴해야 합니다.

## 첫 번째 방법

1. n과 m 중 작은 수부터 0까지 반복하는 반복문으로 n과 m이 동시에 나누어 나머지가 0이 되는 수 i를 answer에 append.
2. i와 n * m // answer[0]을 리스트 형태로 return.

결과 : 성공

In [16]:
def solution(n, m):
    answer = []
    for i in range(min(n, m), 0, -1):
        if n % i == 0 and m % i == 0:
            answer.append(i)
            break
    return [i, (n * m) // answer[0]]

solution(1, 10)

[1, 10]