<a href="https://colab.research.google.com/github/Parkshinhyang/Programmers/blob/main/%ED%94%BC%EB%B3%B4%EB%82%98%EC%B9%98_%EC%88%98(Lv_2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 문제 - 피보나치 수

[문제 링크](https://school.programmers.co.kr/learn/courses/30/lessons/12945)

## 문제 설명

피보나치 수는 F(0) = 0, F(1) = 1일 때, 1 이상의 n에 대하여 F(n) = F(n-1) + F(n-2) 가 적용되는 수 입니다.

예를들어

- F(2) = F(0) + F(1) = 0 + 1 = 1
- F(3) = F(1) + F(2) = 1 + 1 = 2
- F(4) = F(2) + F(3) = 1 + 2 = 3
- F(5) = F(3) + F(4) = 2 + 3 = 5

와 같이 이어집니다.

2 이상의 n이 입력되었을 때, n번째 피보나치 수를 1234567으로 나눈 나머지를 리턴하는 함수, solution을 완성해 주세요.

## 제한 사항

- n은 2 이상 100,000 이하인 자연수입니다.

## 입출력 예

![image.png]()

## 입출력 예 설명

피보나치수는 0번째부터 0, 1, 1, 2, 3, 5, ... 와 같이 이어집니다.

## 첫 번째 방법

1. 만약 n이 3봐 작으면 1을 return.
2. 아니라면 재귀함수를 사용해 n - 2와 n - 1을 매개변수로 입력받은 solution함수 값을 더한 값에 1234567을 나눈 나머지를 return.

결과 : 실패

-> 시간 초과

보다 효율적으로 구현하기 위해 재귀함수를 사용x

In [29]:
def solution(n):

    if n < 3:
        return 1
    else:
        return (solution(n - 2) % 1234567) + (solution(n - 1) % 1234567) 
solution(6)

8

## 두 번째 방법

1. a와 b를 1로 초기화.
2. n만큼 반복하는 반복문으로 answer에 a를 append하고 a, b = b, a + b로 스왑.
3. answer의 맨 끝 원소를 1234567로 나눈 나머지를 return.

결과 : 성공

In [24]:
def solution(n):

    a, b, answer = 1, 1, []

    for i in range(n):
        answer.append(a)
        a, b = b, a + b
    return answer[-1] % 1234567
solution(5)

5