<a href="https://colab.research.google.com/github/Parkshinhyang/Programmers/blob/main/%EC%9E%90%EB%A6%BF%EC%88%98_%EB%8D%94%ED%95%98%EA%B8%B0(Lv_1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##문제 - 자릿수 더하기
https://school.programmers.co.kr/learn/courses/30/lessons/12931

##첫 번째 방법
1. map함수를 사용해 입력받은 n을 str형태로 바꾸로 하나하나 int형태로 바꿔 sum함수를 사용해 출력.

결과 : 성공

In [3]:
def solution(n):
    return sum(map(int, str(n)))
solution(987)

24