<a href="https://colab.research.google.com/github/Parkshinhyang/Programmers/blob/main/%EC%B5%9C%EB%8C%93%EA%B0%92%EA%B3%BC_%EC%B5%9C%EC%86%9F%EA%B0%92(Lv_2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 문제 - 최댓값과 최솟값
https://school.programmers.co.kr/learn/courses/30/lessons/12939

## 문제 설명
문자열 s에는 공백으로 구분된 숫자들이 저장되어 있습니다. str에 나타나는 숫자 중 최소값과 최대값을 찾아 이를 "(최소값) (최대값)"형태의 문자열을 반환하는 함수, solution을 완성하세요.
예를들어 s가 "1 2 3 4"라면 "1 4"를 리턴하고, "-1 -2 -3 -4"라면 "-4 -1"을 리턴하면 됩니다.

## 제한 조건
- s에는 둘 이상의 정수가 공백으로 구분되어 있습니다.

## 입출력 예
![image.png]()

## 첫 번째 방법
1. s를 split함수를 통해 공백을 기준으로 나누고 map 함수를 사용해 int형태로 변환한 list를 arr에 저장.
2. min, max 함수로 arr의 최솟값을 str형태로, 그 후 공백을, 마지막으로 arr의 최댓값을 str형태로 바꾼 값을 합쳐 return.

결과 : 성공

In [26]:
def solution(s):
    arr = list(map(int, s.split(' ')))
    return str(min(arr)) + " " + str(max(arr))

solution("-1 -2 -3 -4")

'-4 -1'